.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.home__container {
  display: flex;
  background-color: blueviolet;

}
.songContainer {
  display: flex;
  flex-direction: column;
}
