.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.options__btn {
  color: white;
  width: 10em;
  border-radius: 10em;
  padding: 1em;
  margin: 1rem;
  font-size: 1em;
  font-weight: 800;
  border: none;
  
}
.options__icon {
  margin: 1rem;
}
