.sidebar {
  background-color: #000000;
  width: 200px;
  color: azure;
  min-height: 90vh;
  border-right: 1px solid rgba(179, 176, 176, 0.116);
  z-index: 90px;
}
.sidebar__imageContainer {
  display: flex;
  align-items: center;
}
.sidebar__image {
  height: 55px;
}
.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.5rem;
  padding: 1rem;
}
.sidebar__options {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
  transition: ease-in 305ms;
}
.sidebar__options:hover {
  color: rgb(112, 110, 110);
}
h4 {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
