.signup{
    display: flex;
    justify-content: center;
    align-items:center ;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCMjbCb5DQ653ZfSnQSYwIFNQTFuVfhAtKdA&usqp=CAU');
    min-height: 100vh;
}